[submodule "theme"]
	path = theme
	url = https://git.sr.ht/~jonsterling/forester-base-theme
	branch = main
	update = rebase
[submodule "assets"]
	path = assets
	url = https://git.sr.ht/~jonsterling/forest-assets
	update = rebase
	branch = main
[submodule "trees/public"]
	path = trees/public
	url = https://git.sr.ht/~jonsterling/public-trees
	update = rebase
	branch = main
[submodule "erct"]
	path = erct
	url = https://git.sr.ht/~jonsterling/elements-of-relative-category-theory
	update = rebase
	branch = main
