.DS_Store
node_modules
build/
output/
latex
data/*.yml
macros/compiled/
latex/trees
*.aux
*.dvi
*.log
*.out
*.fls
*.pdf
!assets/**/*.pdf
*.fdb_latexmk
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
public
server
*.lock
