.DS_Store
assets/diagrams/*.tex
assets/diagrams/*.svg
assets/diagrams/*.pdf
data/*.yml
macros/compiled/
latex/trees
*.aux
*.dvi
*.log
*.out
*.fls
*.pdf
*.fdb_latexmk
*.toc
public
server
*.lock

diagrams/**/*.tikzdefs
diagrams/**/*.tikzstyles
diagrams/**/*.sty
