[submodule "theme"]
	path = theme
	url = https://git.sr.ht/~jonsterling/forester-base-theme
[submodule "assets"]
	path = assets
	url = https://git.sr.ht/~jonsterling/forest-assets
[submodule "trees/public"]
	path = trees/public
	url = https://git.sr.ht/~jonsterling/public-trees
[submodule "erct"]
	path = erct
	url = https://git.sr.ht/~jonsterling/elements-of-relative-category-theory
