{{- $page := .Page -}}
{{- $slug := $page.File.ContentBaseName -}}
{{- $linkedSlug := .Destination -}}
{{- $linkedPage := site.GetPage $linkedSlug -}}
{{- if $linkedPage -}}
{{- $title := default $linkedPage.Title (safeHTML .Text) -}}
<a class="local"
   data-slug="{{$linkedSlug}}"
   href="{{$linkedPage.RelPermalink}}"
   role="tooltip"
   data-microtip-position="top"
   aria-label="{{with $linkedPage.Params.taxon}}{{. | title}} ({{$linkedPage.Title}}){{else}}{{$linkedPage.Title}}{{end}} #{{$linkedSlug}}">
  {{- with $title -}}
  {{- . -}}
  {{- else -}}
  <span class="slug">#{{$linkedSlug}}</span>
  {{- end -}}
</a>
{{- else -}}
<a href="{{ .Destination | safeURL }}">{{ .Text | safeHTML }}</a>
{{- end -}}
