body {
  font-family: "Inria Sans";
  font-size: 13pt;
  line-height: 1.4em;
}

.katex { font-size: 1em !important; }


section {
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .5em;
}

h1, h2, h3, h4 {
  margin-top: .5em;
}

.block:hover {
  background-color: rgba(0, 0, 255, 0.04);
}

.dark .block:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.dark img.latex {
  filter: invert(1);
}

.slug {
  color: gray;
}

.error {
  color: rgb(255,50,50,.8);
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}


