section {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin-top: .5em;
}

.light .block:hover {
  background-color: rgba(0, 0, 255, 0.04);
}

.dark .block:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.dark img.latex {
  filter: invert(1);
}

.slug {
  color: gray;
}

.error {
  color: rgb(255,50,50,.8);
}

.block p:first {
}
