:root {
  --content-gap: 15px
}

@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 400;
  src: url('/forest/fonts/NationalPark-Regular.woff2') format('woff2'),
    url('/forest/fonts/NationalPark-Regular.woff') format('woff');
}

@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 600;
  src: url('/forest/fonts/NationalPark-Bold.woff2') format('woff2'),
    url('/forest/fonts/NationalPark-Bold.woff') format('woff');
}

@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 800;
  src: url('/forest/fonts/NationalPark-ExtraBold.woff2') format('woff2'),
    url('/forest/fonts/NationalPark-ExtraBold.woff') format('woff');
}


body {
  font-family: "Inria Sans";
  font-size: 12pt;
  line-height: 1.4em;
}

.katex {
  font-size: 1.2em !important;
}


section {
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .5em;
  padding-right: .25em;
  border-radius: 5px;
}

.logo {
  font-family: 'National Park';
  font-weight: 800;
}

h1,
h2,
h3,
h4 {
  margin-top: .5em;
}

.block.splice {
  padding-top: 1em;
}

.block:hover {
  background-color: rgba(0, 100, 255, 0.04);
}

.dark .block:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.block.highlighted {
  border-style: solid;
  border-width: 1pt;
}

.highlighted {
  background-color: rgba(255, 255, 140, .3);
  border-color: #ccc;
}


.highlighted:hover {
  background-color: rgba(255, 255, 140, .6) !important;
  border-color: #aaa;
}

.dark .highlighted {
  background-color: rgba(255, 174, 69, 0.2);
  border-style: solid;
  border-width: 1pt;
  border-color: rgba(255, 174, 69, 0.3);
}

.dark .highlighted:hover {
  background-color: rgba(255, 174, 69, 0.4) !important;
  border-color: rgba(255, 174, 69, 0.4);
}

.entry-content a:hover,
.post-single a:hover {
  background-color: rgba(0, 100, 255, 0.1);
}

.dark .entry-content a:hover,
.dark .post-single a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.block>.block-uid {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

.block:hover>.block-uid {
  visibility: visible;
}

.dark img.latex {
  filter: invert(0.884);
}

.slug,
.doi {
  color: gray;
}

.error {
  color: rgb(255, 50, 50, .8);
}

details>summary>* {
  display: inline;
}


/*
details > summary {
  list-style-type: '▸';
}

details[open] > summary {
  list-style-type: '▾';
}
*/

details>summary::marker {
  color: gray;
}

details>summary>h1 {
  font-size: 1em !important;
}

.block>.toggle-children-button {
  padding-right: 3pt;
  visibility: hidden;
  float: right;
}

.block:hover>.toggle-children-button {
  visibility: visible;
}

.dark .toggle-children-button {
  filter: invert(1);
}

a.local,
a.slug {
  box-shadow: none !important;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.first-entry .entry-content {
  color: var(--content);
}

ninja-keys::part(ninja-action) {
  white-space: nowrap;
}

body {
  hyphens: auto;
}

table.macros {
  overflow-x: visible;
  overflow-y: visible;
  font-size: 0.9em;
}

table.macros td {
  padding-left: 5pt;
  padding-right: 15pt;
  vertical-align: baseline;
}

td.macro-name,
td.macro-body {
  white-space: nowrap;
}

td.macro-doc {
  font-size: .9em;
}

.enclosing.macro-scope>.enclosing {
  border-radius: 2px;
}

.enclosing.macro-scope>.enclosing:hover {
  background-color: rgba(0, 100, 255, 0.1);
}

.dark .enclosing.macro-scope>.enclosing:hover {
  background-color: rgba(255, 255, 255, 0.04);
}


[aria-label][role~="tooltip"]::after {
  font-family: "Inria Sans";
}



.tooltip {
  position: relative;
}

.inline.tooltip {
  display: inline-block;
}

.display.tooltip {
  display: block;
}

/* The tooltip class is applied to the span element that is the tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  min-width: fit-content;
  background-color: black;
  color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}

/* Show the tooltip */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext a {
  color: white
}

.macro-doc {
  font-style: italic;
}

.macro-name {
  white-space: nowrap;
}

.macro-is-private {
  color: var(--secondary);
}
