{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- $treePartialCacheKey := (dict "slug" .File.ContentBaseName "collapse" false "isRoot" true "splice" false)}}
  {{- partialCached "tree.html" (dict "context" . "isRoot" true) $treePartialCacheKey -}}

  <footer class="post-footer">

    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    
    <div>
      {{ partial "backlinks.html" (dict "page" .) . }}
    </div>

    
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>


  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>


{{- end }}{{/* end main */}}
