:root {
  --content-gap: 15px;
  --radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0;
}

h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: .5em;
}

pre,
img,
.katex-display,
section,
center {
  overflow-x: scroll;
  overflow-y: hidden;
}

body {
  font-family: "Inria Sans";
  font-size: 12pt;
  line-height: 1.5em;
}

.logo {
  font-weight: 1000;
  font-size: 24px;
}

.logo a {
  color: #666;
  text-decoration: none;
}

.logo a:hover {
  color: #aaa;
}

.tree-content .metadata,
footer .metadata {
  display: none
}

footer>section {
  margin-bottom: 1em;
}

footer h2 {
  font-size: 14pt;
}

.metadata>address {
  display: inline;
}

@media only screen and (max-width: 999px) {
  body {
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    margin-top: 2em;
    margin-left: 2em;
  }
}

body>header {
  margin-bottom: 2em;
}

article.container {
  max-width: 90ex;
  margin-right: auto;
}

details>summary>header {
  display: inline;
}

details>summary::marker {
  color: gray;
}

a.heading-link {
  box-shadow: none;
}

details h1,
details h2,
details h3 {
  font-size: 13pt;
  margin: 0 0 0 0;
  display: inline;
}

article>section>details>summary>header>h1.tree {
  font-size: 1.5em;
}

article>section>details>summary {
  list-style-type: none;
}

article>section>details>summary::marker,
article>section>details>summary::-webkit-details-marker {
  display: none;
}

article>section>details>summary>header {
  display: block;
  margin-bottom: .5em;
}

section.block>details[open] {
  margin-bottom: 1em;
}

nav#toc {
  margin-top: 1.25em;
  margin-bottom: 1.5em;
}

nav#toc h2 {
  font-size: 1.1em;
}

nav#toc ul {
  padding-left: 1.5em;
  list-style-type: square;
}

section+p {
  margin-top: 1em;
}

.katex {
  font-size: 1.2em;
}

.block {
  border-radius: var(--radius)
}

.block.splice {
  padding-top: 1em;
}

.block:hover {
  background-color: rgba(0, 100, 255, 0.04);
}

.dark .block:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.block.highlighted {
  border-style: solid;
  border-width: 1pt;
}

.highlighted {
  background-color: rgba(255, 255, 140, .3);
  border-color: #ccc;
}

.highlighted:hover {
  background-color: rgba(255, 255, 140, .6);
  border-color: #aaa;
}

.dark .highlighted {
  background-color: rgba(255, 174, 69, 0.2);
  border-style: solid;
  border-width: 1pt;
  border-color: rgba(255, 174, 69, 0.3);
}

.dark .highlighted:hover {
  background-color: rgba(255, 174, 69, 0.4);
  border-color: rgba(255, 174, 69, 0.4);
}

.block>.block-uid {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

.block:hover>.block-uid {
  visibility: visible;
}

.dark img.latex {
  filter: invert(0.884);
}

.slug,
.doi {
  font-family: 'Inria Sans';
  color: gray;
  font-weight: 200;
}

.error {
  color: rgb(255, 50, 50, .8);
}

.block {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-radius: 5px;
}

.block>.toggle-children-button {
  padding-right: 3pt;
  visibility: hidden;
  float: right;
}

.block:hover>.toggle-children-button {
  visibility: visible;
}

.dark .toggle-children-button {
  filter: invert(1);
}

a.external {
  text-decoration: underline;
}

a.local,
a.slug {
  box-shadow: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

ninja-keys::part(ninja-action) {
  white-space: nowrap;
}

body {
  hyphens: auto;
}

table.macros {
  overflow-x: visible;
  overflow-y: visible;
  font-size: 0.9em;
}

table.macros td {
  padding-left: 5pt;
  padding-right: 15pt;
  vertical-align: baseline;
}

td.macro-name,
td.macro-body {
  white-space: nowrap;
}

td.macro-doc {
  font-size: .9em;
}

.enclosing.macro-scope>.enclosing {
  border-radius: 2px;
}

.enclosing.macro-scope>.enclosing:hover {
  background-color: rgba(0, 100, 255, 0.1);
}

.dark .enclosing.macro-scope>.enclosing:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

[aria-label][role~="tooltip"]::after {
  font-family: "Inria Sans";
}

.tooltip {
  position: relative;
}

.inline.tooltip {
  display: inline-block;
}

.display.tooltip {
  display: block;
}


/* The tooltip class is applied to the span element that is the tooltip */

.tooltip .tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  min-width: fit-content;
  background-color: black;
  color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}


/* Show the tooltip */

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext a {
  color: white
}

.macro-doc {
  font-style: italic;
}

.macro-name {
  white-space: nowrap;
}

.macro-is-private {
  color: var(--secondary);
}

.tree-content blockquote {
  border-inline-start: 1px solid var(--secondary);
}

.tree-content a:hover {
  background-color: rgba(0, 100, 255, .1);
}

a {
  color: black;
}

.taxon {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

.nocite {
  display: none
}
