{{- $authors := slice -}}
{{- $contributors := slice -}}

{{- $hasAuthors := or .Params.author site.Params.author -}}
{{- if $hasAuthors -}}
{{- $authors = (.Params.author | default site.Params.author) -}}
{{- end -}}

{{- $site := .Site -}}
{{- with .Page.File -}}
  {{- $slug := .ContentBaseName -}}
  {{- with $site.Data.forest -}}
    {{- with .hereditaryChildrenOf -}}
      {{- range index . $slug -}}
        {{- with site.GetPage . -}}
          {{- range .Params.Author -}}
            {{- if not (in $authors .) -}}
            {{- $contributors = union $contributors (slice .) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $hasContributors := gt (len $contributors) 0 -}}

<span>
{{ if $hasAuthors }}
  {{ range $i, $a := $authors }}
  {{- if $i -}}, {{ end }}
    {{- partial "author-link.html" $a -}}
  {{ end }}
{{ end }}

{{ if $hasContributors }}
  with contributions from
  {{ range $i, $a := $contributors }}
  {{- if $i -}}, {{ end }}
    {{- partial "author-link.html" $a -}}
  {{ end -}}
{{ end }}
</span>
