{{ $page := .page }}

{{ $fwdPages := slice }}
{{ $bwdPages := slice }}
{{ $dwdPages := slice }}
{{ $upwdPages := slice }}

{{ range $page.Store.Get "bwdSlugs" }}
{{ with site.GetPage . }}
{{ $bwdPages = $bwdPages | append . }}
{{ end }}
{{ end }}

{{ range $page.Store.Get "fwdSlugs" }}
{{ with site.GetPage . }}
{{ $fwdPages = $fwdPages | append . }}
{{ end }}
{{ end }}

{{ range $page.Store.Get "upwdSlugs" }}
{{ with site.GetPage . }}
{{ $upwdPages = $upwdPages | append . }}
{{ end }}
{{ end }}

{{ range $page.Store.Get "dwdSlugs" }}
{{ with site.GetPage . }}
{{ $dwdPages = $dwdPages | append . }}
{{ end }}
{{ end }}

{{ with $upwdPages }}
{{ partial "links_section" (dict "pages" . "title" "Context")}}
{{ end }}

{{ with $fwdPages }}
{{ partial "links_section" (dict "pages" . "title" "Related")}}
{{ end }}

{{ with $bwdPages }}
{{ partial "links_section" (dict "pages" . "title" "Backlinks")}}
{{ end }}
