{{ $authors := .author }}
{{ $title := .title }}
{{ $journal := .journal }}
{{ $link := .link }}

{{ range $i, $a := $authors }}
{{- if $i -}}; {{ end }}
{{ $a -}}
{{ end -}}
.
<b>{{$title}}</b>.

{{ if $journal }}
  In: <i>{{$journal}}</i>.
{{ end }}

{{ with .date }} {{. | time.Format ":date_medium"}}. {{ end }}

{{ $doi := default .doi .DOI }}
{{ with $doi }}
  <a class="doi" href="https://www.doi.org/{{ . }}">{{ . }}</a>.
{{ end }}

{{ with $link }}
  <a href="{{.}}">External Link</a>.
{{ end }}
