{{ $site := .context.Site }}
{{ $taxon := .context.Params.Taxon }}
{{ $macrolib := .context.Params.macrolib }}
{{ $title := .context.Page.Title }}
{{ $relPermalink := .context.Page.RelPermalink }}
{{ $slug := .context.Page.File.ContentBaseName }}
{{ $shouldCollapseChildren := default false .context.Params.collapse }}
{{ $shouldCollapse := default false .collapse }}
{{ $shouldExpand := not $shouldCollapse }}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    function awaitVisibility(element, callback) {
      var options = {
        root: document.documentElement,
      };

      var observer = new IntersectionObserver((entries, observer) => {
        for (const entry of entries) {
          if (entry.intersectionRatio > 0) {
            callback()
            observer.disconnect()
            break
          }
        }
      }, options);

      observer.observe(element);
    }

    // render math in the content element only once it is visible; this is
    // necessary in order to support very large documents.
    const detailsElement = document.getElementById("details-{{$slug}}")
    awaitVisibility(detailsElement, () => {
      const contentElement = document.getElementById("content-{{$slug}}")
      if (contentElement) {
        renderMathInElement(contentElement, {
          delimiters: [
            { left: '$$', right: '$$', display: true },
            { left: '$', right: '$', display: false },
            { left: '\\(', right: '\\)', display: false },
            { left: '\\[', right: '\\]', display: true }
          ],
          throwOnError: false,
          {{ with $macrolib }}
          {{ $macrolibFile := print . ".katex.json" }}
          {{ with resources.Get $macrolibFile }}
          macros: {{.Content | transform.Unmarshal }}
          {{ end }}
          {{ end }}
        })

        hasRendered = true
      }
    })

    const toggleChildrenButton = document.getElementById("toggle-children-button-{{$slug}}");
    if (toggleChildrenButton) {
      toggleChildrenButton.onclick = function () {
        var childrenAreOpen = false;
        var childrenDetailsElements = []
        {{with .context.Params.children}}
        {{range .}}
        var childDetailsElement = document.getElementById("details-{{.}}")
        if (childDetailsElement) {
          childrenDetailsElements.push(document.getElementById("details-{{.}}"))
        }
        {{end}}
        {{end}}

        childrenDetailsElements.forEach((e) =>
          childrenAreOpen = childrenAreOpen || e.hasAttribute("open")
        )

        parentDetails = document.getElementById("details-{{$slug}}")
        if (parentDetails.hasAttribute("open")) {
          childrenDetailsElements.forEach((e) =>
            !childrenAreOpen ? e.setAttribute("open", true) : e.removeAttribute("open")
          );
        } else {
          document.getElementById("details-{{$slug}}").setAttribute("open", true);
        }
      };
    }
  })
</script>

{{ if .context.Params.Splice }}
<section class="block splice">
  <details {{if $shouldExpand}} open {{end}} id="details-{{$slug}}">
    <summary class="post-content" id="content-{{$slug}}">
      {{- with .context -}}
      {{- if .Content }}
        {{.Content}}
      {{- end }}
      {{- end -}}
    </summary>
    <div id="children-{{$slug}}">
    {{ range $child_ix, $child := .context.Params.Children }}
    {{ with $site.GetPage $child }}
    {{ partial "hierarchy.html" (dict "context" . "collapse" $shouldCollapseChildren) }}
    {{ else }}
      <div class="block">
        <span class="error">
          [Unpublished child: <span class="slug">#{{$child}}</span>]
        </span>
      </div>
    {{ end }}
    {{ end }}
    </div>
  </details>
    <div class="block-uid">
      <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
    </div>
</section>

{{else}}

<section class="block">
  {{ with .context.Params.Children }}
  {{ if gt (len .) 0 }}
  <button class="toggle-children-button" id="toggle-children-button-{{$slug}}">
    <svg viewBox='0 0 10 15' width='15'>
      <path d='M1 1h8M1 4h 8M1 7h8'
            stroke='gray'
            stroke-width='2'
            stroke-linecap='round'/>
    </svg>
  </button>
  {{ end }}
  {{ end }}

  <details {{if $shouldExpand}} open {{end}} id="details-{{$slug}}">
    <summary>
      {{ if $taxon }}
      <b>{{ $taxon }}</b>
      {{with $title}} ({{.}}) {{end}}
      <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
      {{ else }}
      <b> {{ $title | title | markdownify }} </b> <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
      {{ end }}

      {{ if .context.Params.Draft }}
      <sup>
        <span class="entry-isdraft">  [draft]</span>
      </sup>
      {{ end }}
    </summary>

    {{- with .context -}}
    {{- if .Content }}
    <div class="post-content" id="content-{{$slug}}">
      {{.Content}}
    </div>
    {{- end }}
    {{- end -}}

    <div id="children-{{$slug}}">
    {{ range $child_ix, $child := .context.Params.Children }}
    {{ with $site.GetPage $child }}
    {{ partial "hierarchy.html"
       (dict
        "context" .
        "collapse" $shouldCollapseChildren)
    }}
    {{ else }}
      <div class="block">
        <span class="error">
          [Unpublished child: <span class="slug">#{{$child}}</span>]
        </span>
      </div>
    {{ end }}
    {{ end }}
    </div>

  </details>
</section>

{{end}}
