{{ $site := .context.Site }}

{{ $taxon := .context.Params.Taxon }}
{{ $macrolib := .context.Params.macrolib }}
{{ $title := .context.Page.Title }}
{{ $relPermalink := .context.Page.RelPermalink }}
{{ $slug := .context.Page.File.ContentBaseName }}
{{ $shouldCollapse := default false .collapse }}
{{ $shouldExpand := not $shouldCollapse }}
{{ $pageChildren := default slice (.context.Page.Store.Get "dwdSlugs") }}
{{ $splice := .splice }}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    function awaitVisibility(element, callback) {
      var options = {
        root: document.documentElement,
      };

      var observer = new IntersectionObserver((entries, observer) => {
        for (const entry of entries) {
          if (entry.intersectionRatio > 0) {
            callback()
            observer.disconnect()
            break
          }
        }
      }, options);

      observer.observe(element);
    }

    function renderMathWithMacrosInElement(element) {
      renderMathInElement(element, {
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false },
          { left: '\\(', right: '\\)', display: false },
          { left: '\\[', right: '\\]', display: true }
        ],
        throwOnError: false,
        {{ with $macrolib }}
        {{ $macrolibFile := print . ".katex.json" }}
        {{ with resources.Get $macrolibFile }}
        macros: {{.Content | transform.Unmarshal }}
        {{ end }}
        {{ end }}
      })
    }

    function elementContainsMathBarrier(element) {
      if (element.classList.contains('math-barrier')) {
        return true
      }

      for (child of element.children) {
        if (elementContainsMathBarrier(child)) {
          return true
        }
      }

      return false
    }

    // render math in the content element only once it is visible; this is
    // necessary in order to support very large documents.
    const contentElements = document.querySelectorAll('.post-content[data-slug="{{$slug}}"]')
    contentElements.forEach((contentElement) => {
      awaitVisibility(contentElement, () => {
        const childElements = contentElement.children

        for (childElement of childElements) {
          if (elementContainsMathBarrier(childElement)) {
            continue
          }

          renderMathWithMacrosInElement(childElement)
        }
      })
    })
  })
</script>

{{ if $splice }}
<section class="block math-barrier splice">
  {{- with .context -}}
    {{- if .Content }}
    <div class="post-content" data-slug="{{$slug}}">
      {{.Content}}
    </div>
    {{- end }}
  {{- end -}}
  </details>
</section>


{{else}}

<section class="block math-barrier" data-slug="{{$slug}}">
  <details {{if $shouldExpand}} open {{end}} data-slug="{{$slug}}">
    <summary>
      {{ if eq .context.Page.Type "refs" }}
        {{- partial "bibitem_summary.html" .context.Page.Params -}}
        <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
      {{ else }}
        {{ if $taxon }}
        <b>{{ $taxon }}</b>
        {{with $title}} ({{.}}) {{end}}
        <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
        {{ else }}
        <b> {{ $title | title | markdownify }} </b> <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
        {{ end }}

        {{ if .context.Params.Draft }}
        <sup>
          <span class="entry-isdraft">  [draft]</span>
        </sup>
        {{ end }}
      {{ end }}
    </summary>

    {{- with .context -}}
      <div class="post-content" data-slug="{{$slug}}">
        {{.Content}}
      </div>
    {{- end -}}
  </details>
</section>

{{end}}
