{{ $slug := .File.ContentBaseName }}
{{ $relPermalink := .RelPermalink }}

{{ if .Title }}
{{ if eq .Type "trees" }}
  <li>
    <a href="{{$relPermalink}}">
      {{ if .Params.Taxon }}
      <span class="taxon">{{ .Params.Taxon | title }}</span>: {{.Title | title | .RenderString }}
      {{ else }}
      {{.Title | title | .RenderString }}
      {{ end }}
    </a>
    <a href="{{$relPermalink}}" class="slug">[{{$slug}}]</a>
    
    {{ with site.Data.forest }}
      {{ with .childrenOf }}
        {{ $children := index . $slug }}
        {{ with $children }}
          {{ partial "toc_items.html" $children }}
        {{ end }}
      {{ end }}
    {{ end }}
  </li>
{{ end }}
{{ end }}
