{{- $site := .context.Site -}}
{{- $macrolib := .context.Params.macrolib -}}
{{- $title := .context.Page.Title -}}
{{- $relPermalink := .context.Page.RelPermalink -}}
{{- $slug := .context.Page.File.ContentBaseName -}}
{{- $shouldCollapse := default false .collapse -}}
{{- $shouldExpand := not $shouldCollapse -}}
{{- $splice := .splice -}}

{{- $content := "" -}}
{{- with .context -}}
{{- $content = trim .RawContent "\n"
  | replaceRE `{##` `{{<display_math>}}`
  | replaceRE `##}` `{{</display_math>}}`
  | replaceRE `{#` `{{<inline_math>}}`
  | replaceRE `#}` `{{</inline_math>}}`
  | .RenderString -}}
{{- end -}}

{{- if $splice -}}
<section class="block math-barrier splice">
  {{- with .context -}}
    <div class="post-content" data-slug="{{$slug}}">
      {{$content}}
    </div>
  {{- end -}}
  </details>
</section>

{{- else -}}

<section class="block math-barrier" data-slug="{{$slug}}">
  <details 
    {{if $shouldExpand}} open {{end}} 
    data-slug="{{$slug}}"
    {{if .context.Page.Params.Taxon}}class="result"{{end}}>
    <summary>
      {{- if eq .context.Page.Params.Taxon "reference" -}}
        <header>
          {{- partial "bibitem_summary.html" .context.Page.Params -}}
          <a href="{{$relPermalink}}" class="slug">[{{$slug}}]</a>
        </header>
      {{- else if eq .context.Page.Params.Taxon "person" -}}
        <header>
          {{- partial "biographic_summary.html" .context.Page.Params -}}
        </header>
      {{- else -}}
        {{- partial "tree_title.html" .context -}}
      {{- end -}}
    </summary>
    
    {{- if not .parent -}}
      {{- with site.Data.forest -}}
        {{- with .childrenOf -}}
          {{- $children := index . $slug -}}
          {{- with $children -}}
            <nav class="block" id="toc">
              <details open>
              <summary><h3>Table of Contents</h3></summary>
              {{- partial "toc_items.html" . -}}
              </details>
            </nav>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- with .context -}}
    <div class="post-content" data-slug="{{$slug}}">
    {{$content}}
    </div>
    {{- end -}}

  </details>
</section>
{{end}}
