{{ $site := .context.Site }}
{{ $macrolib := .context.Params.macrolib }}
{{ $title := .context.Page.Title }}
{{ $relPermalink := .context.Page.RelPermalink }}
{{ $slug := .context.Page.File.ContentBaseName }}
{{ $shouldCollapse := default false .collapse }}
{{ $shouldExpand := not $shouldCollapse }}
{{ $splice := .splice }}

{{ $content := "" }}
{{ with .context }}
{{ $content = .RawContent
  | replaceRE `{##` `{{<display-math>}}`
  | replaceRE `##}` `{{</display-math>}}`
  | replaceRE `{#` `{{<inline-math>}}`
  | replaceRE `#}` `{{</inline-math>}}`
  | .RenderString }}
{{ end }}

{{ if $splice }}
<section class="block math-barrier splice">
  {{- with .context -}}
    <div class="post-content" data-slug="{{$slug}}">
      {{$content}}
    </div>
  {{- end -}}
  </details>
</section>


{{else}}

<section class="block math-barrier" data-slug="{{$slug}}">
  <div class="post-content" data-slug="{{$slug}}">
    <details 
      {{if $shouldExpand}} open {{end}} 
      data-slug="{{$slug}}"
      {{if .context.Page.Params.Taxon}}class="result"{{end}}>
      <summary>
        {{ if eq .context.Page.Type "refs" }}
          <header>
            {{- partial "bibitem_summary.html" .context.Page.Params }}
            <a href="{{$relPermalink}}" class="slug">#{{$slug}}</a>
          </header>
        {{ else }}
          {{- partial "tree-title.html" .context -}}
        {{ end }}
      </summary>
      
      {{- with .context -}}
      {{$content}}
      {{- end -}}

    </details>
  </div>
</section>

{{end}}
