<header>
  {{ if .Params.Taxon }}
    <span class="taxon">
     {{ .Params.Taxon | title }}
    </span>
    {{if .Title}} ({{.Title | .RenderString}}) {{end}}
    <a href="{{.RelPermalink}}" class="slug">[{{.File.ContentBaseName}}]</a>
  {{ else }}
    <h1>
      {{ .Title | title | .RenderString }}
      <a href="{{.RelPermalink}}" class="slug">[{{.File.ContentBaseName}}]</a>   
    </h1>
  {{ end }}

  {{ if .Params.Draft }}
  <sup>
    <span class="entry-isdraft">[draft]</span>
  </sup>
  {{ end }}
</header>
